.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 24rem;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card-icon-wrapper {
    flex-shrink: 0;
}

.card-icon {
    height: 3rem;
    width: 3rem;
}

.card-content {
    margin-left: 1.5rem;
}

.card-title {
    color: #1a202c;
    font-size: 1.25rem;
    line-height: 1.25;
}

.card-message {
    color: #718096;
    font-size: 1rem;
    line-height: 1.5;
}