// Sass Examples
// Note: we wont be able to simply include this file into a HTML file, but 
// we need to use a compiler to convert this file into a CSS file first -> we
// need a library for that, e.g., dart-sass or sass npm package

// Note: usually sass is already integrated in the toolchain, e.g., in
// create-react-app using vite / webpack

// Variables
$font-size: 16px;
body {
  font-size: $font-size;
}
// CSS
// body { font-size: 16px; }

// Nesting
nav {
  ul {
    li {
      a {
        color: blue;
      }
    }
  }
}
// CSS
// nav ul li a { color: blue; }

// Mixins
@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
.container {
  @include flex(space-between, flex-start);
}
/* 
CSS
.container { 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
*/

// Functions: calculating color
@function invert($color, $amount: 100%) {
  $inverse: change-color($color, $hue: hue($color) + 180);
  @return mix($inverse, $color, $amount);
}

$primary-color: #036;
.header {
  background-color: invert($primary-color, 80%);
}

// Partials: split code into re-usable modules
@use 'variables';
body {
  color: variables.$primary-color;
}

// Extend
%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

// Won't be compiled
%equal-heights {
  display: flex;
  flex-wrap: wrap;
}

.message {
  @extend %message-shared;
}

.success {
  @extend %message-shared;
  border-color: green;
}

/* CSS
.message, .success {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}
.success {
  border-color: green;
}
*/
// Operators
@use "sass:math";

.container {
  display: flex;
}

article[role="main"] {
  width: math.div(600px, 960px) * 100%;
}

aside[role="complementary"] {
  width: math.div(300px, 960px) * 100%;
  margin-left: auto;
}

/* CSS
.container {
  display: flex;
}
article[role=main] {
  width: 62.5%;
}

aside[role=complementary] {
  width: 31.25%;
  margin-left: auto;
}

*/

// Conditionals
$theme: 'light';

body {
  @if $theme == 'light' {
    background-color: white;
    color: black;
  } @else {
    background-color: black;
    color: white;
  }
}

// Loops
@for $i from 1 through 3 {
  .item-#{$i} {
    width: 100px * $i;
  }
}


